*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Microsoft YaHei", sans-serif;
}

html{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body {
    user-select: none;
}

body{
    margin: 0 auto;
}

.bg{
    position: relative;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 46.5rem;
    overflow: hidden;
    background: url('../images/bg.jpg');
    background-size: 100% 100%;
}

.bg-sm{
    position: absolute;
    top: 0;
    left: 50%;
    width: 17.175rem;
    height: 7.325rem;
    margin: 0 auto;
    transform: translateX(-50%);
    background: url('../images/text.png');
    background-size: 100% 100%;
}

.container{
    position: absolute;
    left: 0;
    top: 5.875rem;
    width: 100%;
    z-index: 2;
}

.time-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .5rem;
}

.time-item{
    padding: 0 .15rem;
    color: #fffeee;
}

.time-bg{
    width: 1.05rem;
    height: 1.05rem;
    line-height: 1.05rem;
    color: #000;
    text-align: center;
    background: url("../images/countdown-bg.png");
    background-size: 100% 100%;
}

.lottery-body{
    position: relative;
    width: 18.75rem;
    height: 18.75rem;
    margin: 5rem auto 0;
}

.lottery-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/bg-03.png');
    background-size: 100% 100%;
    transition: transform 2s ease-in-out;
}

.lottery-pointer{
    position: absolute;
    left: 50%;
    top: .75rem;
    z-index: 2;
    width: 2.425rem;
    height: 3.35rem;
    background: url("../images/bg-01.png");
    background-size: 100% 100%;
    transform: translateX(-50%);
}

.lottery-start{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4rem;
    height: 4rem;
    background: url("../images/bg-02.png");
    background-size: 100% 100%;
    transform: translateX(-50%) translateY(-50%);
    outline: none;
    border-radius: 100%;
}

.prize-list {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

.prize-item-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 9.375rem;
    height: 9.375rem;
}

.prize-item {
    width: 100%;
    height: 100%;
    padding-top: 3.25rem;
    transform-origin: bottom;
}
.prize-name {
    width: 2.5rem;
    line-height: .75rem;
    margin: 0 auto;
    font-size: .5rem;
    color: #000;
    padding: .375rem 0;
    text-align: center;
}

.prize-icon{
    height: 2rem;
    text-align: center;
}

.prize-line {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: .05rem;
    height: 6.5rem;
    transform-origin: bottom;
    transform: translateX(-50%);
    background: #ff735d;
}

.prize-icon img{
    display: inline-block;
    height: 1.6rem;
}

.lottery-descBox{
    position: relative;
    width: 18.375rem;
    min-height: 12.625rem;
    margin: 0 auto 1rem;
    padding: 2.25rem 1.5rem 1.5rem 1.5rem;
    font-size: .65rem;
    color: #483000;
    background: url("../images/box-bg.png");
    background-size: 100% 100%;
}

.lottery-descHead{
    position: absolute;
    left: 50%;
    top: -.375rem;
    z-index: 2;
    width: 10.1rem;
    height: 2.25rem;
    background: url("../images/title-01.png");
    background-size: 100% 100%;
    transform: translateX(-50%);
}

.lottery-wordBox {
    line-height: .9rem;
    margin-bottom: .5rem;
}

.lottery-bold{
    font-weight: bold;
    padding-right: .5rem;
}

.lottery-bolds{
    margin-bottom: .5rem;
}

.lottery-tip{
    height: 2.25rem;
    line-height: 2.25rem;
    text-align: center;
}

/*弹窗*/
.overlay{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.overlay-bg{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 11;
    background: url("../images/layer.png");
    background-size: 100% 100%;
}

.overlay-body{
    position: absolute;
    left: 0;
    right: 0;
    top: 5.25rem;
    bottom: 0;
    z-index: 12;
}

.overlay-closeBox{
    width: 15rem;
    margin: 0 auto;
    overflow: hidden;
}

.overlay-close{
    float: right;
    width: .1.2rem;
    height: 1.2rem;
    background: url("../images/guanbi.png");
    background-size: 100% 100%;
}

.overlay-box{
    width: 18.175rem;
    height: 18.475rem;
    margin: 0 auto;
    background: url("../images/result-bg.png");
    background-size: 100% 100%;
    overflow: hidden;
}

.overlay-star{
    width: 6.275rem;
    height: 2.9rem;
    margin: 2.05rem auto 0;
    background: url("../images/star.png");
    background-size: 100% 100%;
}

.overlay-level{
    position: relative;
    z-index: 13;
    margin-top: .75rem;
    line-height: 2.5rem;
    text-align: center;
    font-size: 1rem;
    color: #8c0118;
    font-weight: bold;
    -webkit-text-stroke: 1px #fff;
}

.overlay-prize{
    font-size: .9rem;
    color: #fcff00;
    font-weight: bold;
    text-align: center;
}

.overlay-get{
    display: block;
    margin: 6.5rem auto 0;
    width: 11.8rem;
    height: 1.875rem;
    line-height: 1.875rem;
    font-size: .75rem;
    color: #fffde2;
    text-align: center;
    background: url("../images/btn-01.png");
    background-size: 100% 100%;
}

.fl{
    float: left;
}
